python-dotenv~=1.0.0
azure-cognitiveservices-speech
azure-ai-language-conversations
SpeechRecognition
pyaudio~=0.2.11
g4f~=0.0.3.4
PyExecJS~=1.5.1
pycaw~=20230407
PyAutoGUI~=0.9.54
selenium~=4.12.0

requests~=2.31.0
comtypes~=1.2.0

bs4~=0.0.1
beautifulsoup4~=4.12.2

browser~=66.0.2
flask~=3.0.0