.about__team--info h1 {
  color: var(--yellow-900);
  margin: 10px 0;
  font-size: 24px;
}
.about__team--content {
  text-align: center;
}
.about__team-description {
  display: flex;
  padding-left: 20px;
}
.about__team-description p {
  font-size: 14px;
}
.about__team--detail {
  width: max-content;
  margin-right: 10px;
}
.about__team--section {
  display: flex;
  justify-content: space-between;
}
.about__team--detail img {
  width: 120px;
  height: auto;
  object-fit: contain;
}
.full-name {
  font-size: 14px;
}
.about__team--cpright {
  font-size: 14px;
  margin-top: 30px;
  text-align: right;
}
