.setting__container .title {
  color: var(--yellow-900);
}
.setting__content {
  padding-left: 50px;
}
.setting__option h1 {
  font-size: 22px;
  border-bottom: 1px solid var(--gray-600);
  width:390px;
}
.item h3 {
  font-size: 15px;
}
.item {
  display: flex;
  align-items: center;
  max-width: 370px;
  justify-content: space-between;
  margin: 10px;
  padding-left: 10px;
}
.item button {
  display: flex;
height: 26px;
padding: 15px 25px;
justify-content: center;
align-items: center;
border-radius: 10px;
background: var(--yellow-900);
cursor: pointer;
}
